<nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
   <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
         <a class="navbar-item">
         Home
         </a>
         <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href='pages/bombay'>
            Bombay favourites
            </a>
            <div class="navbar-dropdown">
               <a class="navbar-item">
               Barbecue
               </a>
               <a class="navbar-item">
               Cakes
               </a>
               <a class="navbar-item">
               Chaat
               </a>
               <a class="navbar-item">
               Christmas sweets
               </a>
            </div>
         </div>
         <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
            Udupi favourites
            </a>
            <div class="navbar-dropdown">
               <a class="navbar-item">
               Breakfast dishes
               </a>
               <a class="navbar-item">
               Snacks
               </a>
               <a class="navbar-item">
               Saars
               </a>
            </div>
         </div>
      </div>
      <div class="navbar-end">
         <a class="navbar-item">
         About
         </a>
      </div>
   </div>
</nav>
