<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Miss That Food!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/imtf.css">

</head>

<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});
</script>

{% include navbar.html %}

<div class='columns'>
  <div class='column is-one-quarter pr-0 pt-6 pl-6 has-text-centered'>
  <img src="/assets/bawarchi_namaste.gif" /> <br/>
  </div>
  <div class='column is-three-quarters p-6'>
    <div class='card p-6'>
	<p class="title is-1"> {{ page.title }} </p>
	<br/>
      <div class="content">
        
	{{ content }}

      </div>
    </div>
  </div>
</div>

</body>

</html>
